body {
    width: 100%;
    height: 100%;
    background: url(sozai/sozai18.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #C0C0C0;
}
h1 {
    padding-left: 625px;
}
header li{
    display: inline-block;
    padding-left: 50px;
    font-size: 20px;
    color: #000000;
}
.index {
    padding-left: 300px;
}
.contents {
    padding-right:200px;
}
.menu a {
    text-decoration: none;
    color: #000000;
    
}
 .menu a:hover {
    text-decoration: underline;
    color:#FF0000 ;
}
.mokuzi,.mokuzi li{
	padding-left:100px;
	margin:0px;
}
 
.mokuzi li{
	list-style-type:none !important;
	list-style-image:none !important;
	margin: 5px 0px 5px 0px !important;
}
 
.list li{
	position:relative;
	padding-left:20px;
}
.list li:before{
	content:''; 
	height:0px; 
	width: 90%;
	display:block; 
	position:absolute; 
	top:27px; 
	left:0px; 
	border-bottom: 1px dashed #aaa;
}
.list li:after{
	content:'';
	display:block; 
	position:absolute; 
	background:#aaa;
	width:5px;
	height:5px; 
	top:7px; 
	left:5px; 
	border-radius: 5px;
}

.dessin p {
    padding-top: 100px;
    padding-left: 50px;
}
.movie p {
    padding-left: 50px;
}
.web p {
    padding-left: 50px;
}
.mokuzi  a {
    color: #000000;
    font-size: 20px;
}
.mokuzi a:hover {
    text-decoration: underline;
    color:#FF0000 ;
}