.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}
header li {
    display: inline-block;
    font-size: 15px;
    padding-left: 700px;
}
