.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #C0C0C0;
}
h1 {
    padding-left: 650px;
}
header li {
    display: inline-block;
    font-size: 20px;
    padding-left: 50px;
}
.about {
    padding-left: 300px;
}
.contents {
    padding-right:200px;
}
 p {
    padding-top: 100px;
    text-align: center;
    font-size: 25px;
}
